# SolfaLedger Web Application Environment Configuration

# Stellar & Soroban Network
NEXT_PUBLIC_STELLAR_NETWORK="TESTNET"
NEXT_PUBLIC_RPC_URL="https://soroban-testnet.stellar.org"
NEXT_PUBLIC_HORIZON_URL="https://horizon-testnet.stellar.org"

# SolfaPayments Contract ID (Deployed on Testnet)
NEXT_PUBLIC_CONTRACT_ID="CAWY3OQG5R6W5H32YUS2W3J2A3NZZUUS3G6C5Y667L7BWWK3W76KOG6V"

# SolfaLedger Engine API URL
NEXT_PUBLIC_API_URL="http://localhost:8000"

# Stellar Asset Contract IDs (SAC)
# Native XLM SAC:
NEXT_PUBLIC_XLM_SAC="CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC"
# Circle USDC Testnet SAC:
NEXT_PUBLIC_USDC_SAC="CBIELTK6YBZJU5UP2WWQEUCYKLPU6AUNZ2BQ4WWUIE3USSTHZX5C6WD7"
# USDT Testnet SAC:
NEXT_PUBLIC_USDT_SAC="CB64D3WD2CHELGQCUDJ2V637P76M6YUXO6ZGYTGLZ22Z223456789012"
